body {
    font-family: Arial, sans-serif;
    background-color: #475e75;
    /* Fondo gris claro */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #343a40;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 16px);
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2aa475;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #207856;
    transform: scale(1.05);
}

.message {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

#reservasTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#reservasTable th,
#reservasTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#reservasTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#reservasTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#reservasTable .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#reservasTable .delete-button:hover {
    background-color: #c82333;
}